//colors
$main-color: #46467f;
$main-hover-color: #3a3a66;
$main-dark-color: #2e2e48;
$input-color: #eaeeed;
$menu-item-hover-color:#25253a;
$menu-item-border-color:#7E73FF;
$gold-color:#ffb737;

//screen-sizes
$mobile-small:320px;
$mobile:360px;
$mobile-large:420px;
$tablet:768px;
$tablet-large:1024px;