@import '../../shared/variables.scss';
.custom-btn{
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: $main-color;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        background: $main-hover-color;
    }
}